 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 }
 .searchfield{
  text-align: center;
 }
 .form{
  margin-top: 10px;
 }
 .form input{
  width: 300px;
  padding: 5px;
 }
 .form button{
  margin-left: 5px;
  padding: 5px;
 }
 .imagedisplay{
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  grid-template-rows: auto;
 }
 .image00{
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  width: 400px;
  height:375px;
  margin: 5px;
  box-shadow: 2px 2px 5px;
  align-items: center;
 }

 .image00 .coverphoto img {
  border-radius: 5px;
  image-resolution: normal;
  width: 400px;
  height: 300px;
  align-items: center;
  background-size: cover;
 }
 .userpro{
  border-radius: 50%;
 }
 .user{
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 .likes00{
  display: flex;
  justify-content: center;
  align-items: center;
 }
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination button{
    padding: 5px;
    margin: 10px;
}
a button{
    padding: 5px;
    background-color: rgb(9, 100, 11);
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: 2px 2px 2px 2px;
}
a button:hover{
    background-color: rgb(16, 143, 18);
}
.inputt{
    padding: 5px;
}